.vs
.vscode
bin
obj
IntegrationTestSample/logs
deploy
artifacts
.ionide
.DS_Store
.fake
.idea
Gauge.Dotnet.sln.DotSettings.user
_testdata/Sample/.gauge/
_testdata/Sample/logs/
_testdata/Sample/reports/
